

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

header {
    background-color: black;
    color: white;
    padding: 20px 0;
    text-align: center;
}

main {
    padding: 20px;
}

.bio-image, .in-bio-image, .after-bio-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

.biography {
    background-color: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    color: #333;
}

footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
